.create-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(135deg, #6b7b8c, #bdc9d2);
  }
  
  .create-main form {
    width: 100%;
  }
  
  .create-main .MuiButton-root {
    background-color: #0288ff;
    transition: background-color 0.3s ease;
  }
  
  .create-main .MuiButton-root:hover {
    background-color: #0277bd;
  }
  
  .MuiTextField-root {
    border-radius: 8px;
    padding: 10px;
  }
  
  .MuiTypography-root {
    margin-bottom: 20px;
    font-weight: bold;
  }